stress {
    display:block;
    position:relative;
}
.stress {
    border: 1px solid black;
    height: 9.1em;
}
.super_script {
    position:relative;
    top: -50%;
    right: -50%;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-outline: 2px 2px white;
}

.white-shadow {
    -webkit-text-stroke: 1px white;
    color: black;
    text-shadow:
        /*3px 3px 0 #FFF,*/
            -1px -1px 0 #FFF,
            1px -1px 0 #FFF,
            -1px 1px 0 #FFF,
            1px 1px 0 #FFF;
}
stress .title {
    position: relative;
    height: 3em;
    text-align: center;
    background-color: gray;
    color: white;
    top: 0;
    border-bottom: 1px solid black;
}
stress .title span {
    position: relative;
    display: inline-block;
    top : 50%;
    transform : translateY(-50%);
}
stresstrack {
    display:block;
    clear:both;
}
stresstrack .label {
    display: inline-block;
    float  : left;
    width  : 6em;
    height : 3em;
    background: gray;
    color: white;
    position: relative;
    border-bottom: 1px solid black;
}
stresstrack .label span {
    top : 50%;
    transform : translateY(-50%);
    position: relative;
    display: block;
}
stresstrack .stressBox {
    display: inline-block;
    width: 2em;
    height: 2em;
    border: 3px solid black;
    position: relative;
    border-radius: 50%;
    float: left;
    overflow: visible;
    margin-left: 0.3em;
    margin-right: 0.3em;
    margin-top: 0.6em;
}