<form class="main_content" name="charactersheet">
    <!--{{charactersheet | json}}-->
    <div class="titlebar">
        <span>FATE CORE - Character Sheet</span>
        <button save data-ng-click="doSave()" class="icon-floppy-disk"></button>
        <button load ng-click="doLoad()" class="icon-loop2"></button>
    </div>
    <div charactername ></div>
    <div aspect-section cs-form="charactersheet"></div>
    <skillblock></skillblock>
    <stress cs-form="charactersheet" class="stress"></stress>
</form>