.skills {
    background: steelblue;
    width: 100%;
}
table.skills {
    table-layout: auto!important;
    display:table;
    width: 100%;
}
.skills th {
    background-color: steelblue;
    background-image: linear-gradient(to bottom,#1b75bc 0,#15598f 100%);
    color: white;
    text-shadow: 2px 2px 0 black;
}
.skills td {
    border: 1px solid lightgray;
    margin: 1px;
}
.skills tbody tr td:first-child {
    width: 2em!important;
    background: lightgray;
}
.skills .editBox {

}
.skills .editBox textarea {
    width: 100%;
    height: 288px;
    font-size: 14pt;
}
.skills .edit_icon {
    background-image : url('gui/edit.svg'), linear-gradient(to bottom,#1b75bc 0,#15598f 100%);
    background-size : contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 2em;
    width: 2em;
    border: none;
}
.skills .icon_color {
    background: white;
}